@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@500&family=Sora:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand',sans-serif;
}

body{
    background-image:url(../img/pattern.jpg) ;
}

.navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar img{
    width: 250px;
}

.navbar ul li{
    display: inline;
    margin: 10px;
    color: blue;
    text-decoration: underline;
}

.blog{
    background-color: white;
    border-radius: 15px;
}

.title{
    text-align: center;
    align-items: center;
}

section.blog{
    margin: auto;
    width: 900px;
    margin-top: 20px;
}

section.blog article{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

section.blog article img{
    border-radius: 20px;
}

section.blog article .info{
    margin: 20px;
}

footer{
    margin-top: 20px;
    background-color: black;
    color: #fff;
    padding: 15px;
    align-items: center;
    text-align: center;
}